<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>

<style>
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
body {
  background-image: url("https://media.discordapp.net/attachments/655680640385286149/780425631376605194/kit.png?width=1194&height=671");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Prompt', sans-serif;
}
html{
  font-family: 'Prompt', sans-serif;
}

@font-face {
  font-family: 'Prompt', sans-serif;
  src: url(sansation_light.woff);
}

.Tuimage{
   margin-top: 9px;
   margin-left: 80px;
}
.submit{
  background-color: #FF6600;
  border:none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 9px;
  margin-left: 20px;
  min-width:290px;
  
}
.submit{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.top-left {
  position: absolute;
  top: 8px;
  left: 300px;
  letter-spacing: 5px;
  font-size: 3em;
  padding-left: 20px;
  margin-top: 9px;
  font-family: 'Prompt', sans-serif;
  width:1000px;
}
.top-left2{
  position: absolute;
  top: 100px;
  left: 400px;
  letter-spacing: 0px;
  font-size: 2em;
  padding-left: 20px;
  margin-top: 9px;
  font-family: 'Prompt', sans-serif;
  width:1000px;
}
.centered {
  position: absolute;
  top: 27%;
  left: 27%;
  
}

.mid{
  position: absolute;
  top: 370px;
  left: 900px;
  transform: translate(-50%, -50%);
  width:900px;
}
.mid2{
  position: absolute;
  top: 500px;
  left: 900px;
  transform: translate(-50%, -50%);
  width:900px;
}
.mid3{
  position: absolute;
  top: 630px;
  left: 900px;
  transform: translate(-50%, -50%);
  width:900px;
}
.mid4{
  position: absolute;
  top: 760px;
  left: 900px;
  transform: translate(-50%, -50%);
  width:900px;
}

body {font-family: 'Prompt', sans-serif;}
* {box-sizing: border-box;}

input[type=text],textarea{
  width: 100%;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=number], select{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.aacontainer {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.cen{
  position: absolute;
  top: 230px;
  left: 449px;
  transform: translate(-50%, -50%);
}

.cen10{
  position: absolute;
  height:240px; 
  width:800px;
  top:  350px;
  left: 815px;
  transform: translate(-50%, -50%);
}
.cen11{
  position: absolute;
  top:  97%;
  left: 1100px;
  transform: translate(-50%, -50%);
}
.cen12{
  position: absolute;
  top: 800px;
  left: 1400px;
  transform: translate(-50%, -50%);
}
.cen13{
  position: absolute;
  height:240px; 
  width:800px;
  top:  480px;
  left: 815px;
  transform: translate(-50%, -50%);
}
.cen14{
  position: absolute;
  height:240px; 
  width:800px;
  top:  610px;
  left: 815px;
  transform: translate(-50%, -50%);
}
.cen15{
  position: absolute;
  height:240px; 
  width:800px;
  top:  740px;
  left: 815px;
  transform: translate(-50%, -50%);
}
.list1{
  position: absolute;
  top: 230px;
  left: 900px;
  font-size: 20px;
  transform: translate(-50%, -50%);
  width:1000px;
}
    </style>

<body>
    
   <div class="Tuimage" style="max-width:20%;">
    <br>
        <img src="https://i.imgur.com/u0s7hgn.png" alt="Tu" width="170" height="170">
        <div class="top-left">บันทึกความคิดเห็น</div>
        <div class="top-left2"><u>รายการคำร้อง</u></div>
    </div>

    <div>
      <br>
      <form action = /welcomeTeacher><button class="submit">หน้าแรก</button></form>
      <form action = /U6><button class="submit">บันทึกความคิดเห็น</button></form>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <form action = /logout><button class="submit">ออกจากระบบ</button></form>
  </div>
  
  <form>
    <div class="list1">[คำร้องจดทะเบียนล่าช้า]</div>
<div class="label">
  <div class="cen10">
    <label for="Problem"></label>
    <textarea input type="text" id="Problem" name="Problem" placeholder = "[ท่านคณะบดี]ระบุอนุมัติ/ไม่อนุมัติ และ ความคิดเห็นเพิ่มเติม" required ></textarea> 
  </div>
</div>
<div class="label">
  <div class="cen13">
    <label for="Problem"></label>
    <textarea input type="text" id="Problem" name="Problem" placeholder = "[อาจารย์ประจำวิชา]ระบุอนุมัติ/ไม่อนุมัติ และ ความคิดเห็นเพิ่มเติม" required ></textarea> 
  </div>
</div>
<div class="label">
  <div class="cen14">
    <label for="Problem"></label>
    <textarea input type="text" id="Problem" name="Problem" placeholder = "[อาจารย์ที่ปรึกษา]ระบุอนุมัติ/ไม่อนุมัติ และ ความคิดเห็นเพิ่มเติม" required ></textarea> 
  </div>
</div>
<div class="label">
  <div class="cen15">
    <label for="Problem"></label>
    <textarea input type="text" id="Problem" name="Problem" placeholder = "[เจ้าหน้าที่สาขา]ระบุอนุมัติ/ไม่อนุมัติ และ ความคิดเห็นเพิ่มเติม" required ></textarea> 
  </div>
</div>

<div class="mid">
  <label for="file-upload" class="custom-file-upload">
    ลายเซ็น(เซ็นกำกับว่า"ใช้สำหรับการจดทะเบียนคำร้องของนักศึกษาเท่านั้น")
  </label>
  <input id="file-upload" type="file"/> 
</div>  
<br>
<div class="mid2">
  <label for="file-upload" class="custom-file-upload">
    ลายเซ็น(เซ็นกำกับว่า"ใช้สำหรับการจดทะเบียนคำร้องของนักศึกษาเท่านั้น")
  </label>
  <input id="file-upload" type="file"/> 
</div>  
<br>
<div class="mid3">
  <label for="file-upload" class="custom-file-upload">
    ลายเซ็น(เซ็นกำกับว่า"ใช้สำหรับการจดทะเบียนคำร้องของนักศึกษาเท่านั้น")
  </label>
  <input id="file-upload" type="file"/> 
</div>  
<br>
<div class="mid4">
  <label for="file-upload" class="custom-file-upload">
    ลายเซ็น(เซ็นกำกับว่า"ใช้สำหรับการจดทะเบียนคำร้องของนักศึกษาเท่านั้น")
  </label>
  <input id="file-upload" type="file"/> 
</div>  
<br>
<div class="cen12">
  <input type="submit" value="บันทึก" onclick="FunctionB()">
  <br>
</div>
  </form>
</div>
</div>

   </div>
    
   <script>
    function FunctionB() {
      alert("บันทึกความคิดเห็นเรียบร้อยแล้วครับ");
    }
    </script>
  
 

</body>
</html>